* {
  box-sizing: border-box;
}



body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: white;
    color: black;
}

nav {
    margin: 20px 0px 30px 0px;
    width: 100%;
}

.nav-frame {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: start;
    width: 100%;
}

.nav-left, .nav-right {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-left {
    justify-self: start;
    margin: 0px 0px 0px 20px;
}

.nav-right {
    justify-self: end;
    margin: 0px 20px 0px 0px;
}

.nav-frame > img {
    width: 400px;   
}

.game-render {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;

}

.game-render > iframe {
    border: none;
    width: 70%;
    height: 100%;
    margin-left: 150px;
}

.rules {
    display: flex;
    justify-content: flex-start;
    margin: 0px auto 0px auto;
    padding: 50px 40px 40px 60px;
    border-radius: 20px;
    width: 70%;
}

.rules-section {
    display: flex;
    align-items: center;
    gap: 50px;
}

.rules-section-vid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.rules-section-vid-frame {
    width: 300px;
    height: 300px;
    background-color: white;
    margin-bottom: 0px;
    overflow: hidden;
    border: 5px solid #f1f1f1;
    border-radius: 10%;
    cursor: pointer;
}

.rules-section-vid-frame > video {
    width: 530px;
    transform: translate(-130px, -10px);
    filter: blur(0.7px);
    opacity: 0.9;
    transition: filter 0.3s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.rules-section-vid-play {
    position: absolute;
    margin: auto;
    color: white;
    font-size: 80px;
    border: none;
    background: none;
}

video.video-played {
    filter: blur(0px);
    opacity: 1;
}

.video-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.video-overlay-frame {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    border: 5px solid #f1f1f1;
    border-radius: 10%;
    animation: zoomIn 0.25s ease-out;
}

.video-overlay-frame > video {
    width: 900px;
    transform: translate(0px, -20px);
}

@keyframes zoomIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.rules-section-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    margin: 0px 0px 40px 0px;
}

.rules-section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    margin: 0px 0px 20px 0px;
}

.rules-section-title > h1 {
    margin: 0px;    
}

.rules-section-title > span {
    font-style: italic;
    margin: 0px 10px 5px 0px;    
}

.rules-section-desc > p, li {
    font-size: 20px;
    line-height: 1.4;
    margin: 0px
}

.rules-section-desc > ol {
    margin: 10px 0px 0px 0px;

}



.hidden {
    display: none;
}


